<section class="container-fluid">
    <section class="row no-gutters d-flex card-deck ml-1">
        <section class="col-12 col-md-3 my-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Appetizers</h2>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-3 mt-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img" alt="...">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Entrees</h2>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-3 my-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img" alt="...">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Deserts</h2>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-3 mt-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img h-100" alt="...">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Wine Pairings</h2>
                </div>
            </div>
        </section>
    </section>
    <section class="container-fluid my-4">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-7 img-fluid">
                    <img src="images/food.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button>Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid my-4">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button>Read More</button>
                    </div>
                </div>
                <div class="col-md-7 img-fluid">
                    <img src="images/food.jpg" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </section>

    {{!-- RECIPES SECTION --}}
    <section>
        <div>
            <h1>The Latest Recipes:</h1>

            {{!-- ADD BLOGS --}}
            <div class="row">
                {{#each blogs}}
                <div class="col">
                    <div class="card">
                        <div class="no gutters img-fluid">
                            <img src="{{blog_image}}" class="card-img" alt="{{title}}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{blog_description}}
                            </p>
                            <a href="/{{blog_id}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{!-- END ADD BLOGS --}}
        </div>
    </section>


    {{!-- <section class="container-fluid">
        <section class="row no-gutters d-flex card-deck ml-1">
            <section class="container-fluid my-4">
                {{#each blogs}}
                <div class="card">
                    <div class="row no-gutters my-4">
                        <div class="col-md-6">
                            <img src="{{blog_image}}" class="card-img-top" alt="{{title}}" <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button>Read More</button>
                            {{#if loggedIn}}
                            <button>Edit Blog</button>
                            <button>Delete Blog</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>
            <hr>
        </section>
    </section> --}}

    {{!-- <section class="container-fluid my-2">
        <div class="card">
            <div class="row no-gutters" style="width: 18rem;">
                <img src="{{blog_image}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{blog_description}}.</p>
                    <a href="/{{blog_id}}" class="btn btn-primary">Read More</a>
                    {{#if loggedIn}}
                    <button>Edit Blog</button>
                    <button>Delete Blog</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </section> --}}

    <section>
        <div id="subscribe" class="text-center">
            <h1>Subscribe</h1>
            <button style="width: max-content; height: max-content; padding: 10px">Subscribe here!</button>
        </div>
    </section>
</section>