<div>
    {{!-- <ul class="unorderedList"> --}}
        <ul>
            {{#each blogs}}
            <div class="card">
                <div class="card-div1">
                    <img class="image" src="{{blog_image}}" />
                </div>
                <div class="card-div2">
                    <h1>{{title}}</h1>
                    <h3>{{blog_description}}</h3>
                    <div class="read-more">
                        <a href="/{{blog_id}}"><button>Read More</button></a>
                        {{#if loggedIn}}
                        <button>Edit Blog</button>
                        <button>Delete Blog</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            <hr>
            {{/each}}
        </ul>
</div>
<footer class="footer">
    {{#if loggedIn}}
    <a href="/">Home</a>
    <a href="/profile">Dashboard</a>
    <a href="/api/users/logout">Logout</a>
    <h1>Tech Blog</h1>
    {{else}}
    <button id="myBtn">Login</button>
    <button id="redirect">Redirect</button>
    {{/if}}
    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="model-design">
                <div>
                    <h3>Login: </h3>
                    <div>
                        <label>Username: </label>
                        <input placeholder="username">
                    </div>
                    <div>
                        <label>Password: </label>
                        <input type="password" placeholder="username">
                    </div>
                    <button>Submit</button>
                </div>
                <div>
                    <h3>Signup: </h3>
                    <div>
                        <label>Username: </label>
                        <input placeholder="username">
                    </div>
                    <div>
                        <label>Password: </label>
                        <input type="password" placeholder="username">
                    </div>
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/home.js"></script>