<section class="container-fluid">
    <section class="row no-gutters d-flex card-deck ml-1">
        <section class="col-12 col-md-3 my-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img">
                <div class="card-body" style="height: 40%; background-color: rgb(127, 104, 104)">
                    <h2 class="card-title text-white text-center">Appetizers</h2>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-3 mt-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img" alt="...">
                <div class="card-body" style="height: 40%; background-color: rgb(127, 104, 104)">
                    <h2 class="card-title text-white text-center">Entrees</h2>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-3 my-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img" alt="...">
                <div class="card-body" style="height: 40%; background-color: rgb(127, 104, 104)">
                    <h2 class="card-title text-white text-center">Desserts</h2>
                </div>
            </div>
        </section>
        <section class="col-12 col-md-3 mt-2">
            <div class="card">
                <img src="images/food.jpg" class="card-img h-100" alt="...">
                <div class="card-body" style="height: 40%; background-color: rgb(127, 104, 104)">
                    <h2 class="card-title text-white text-center">Wine Pairings</h2>
                </div>
            </div>
        </section>
    </section>
    <section class="container-fluid my-4">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-7 img-fluid">
                    <img src="images/food.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button>Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid my-4">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button>Read More</button>
                    </div>
                </div>
                <div class="col-md-7 img-fluid">
                    <img src="images/food.jpg" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </section>

    {{!-- RECIPES SECTION --}}
    <section class="my-4">
        <div>
            <h1 class="mb-3">The Latest Recipes:</h1>

            {{!-- ADD BLOGS --}}
            <div class="row">
                {{#each blogs}}
                <div class="col">
                    <div class="card">
                        <div class="no gutters img-fluid">
                            <img src="{{blog_image}}" class="card-img" alt="{{title}}">
                        </div>
                        <div class="card-body text-white" style="background-color: rgb(127, 104, 104">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{blog_description}}
                            </p>
                            <a href="/{{blog_id}}" class="btn btn-primary">Read More</a>
                            {{!-- <p>Created at: {{created_at}}</p> --}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{!-- END ADD BLOGS --}}
        </div>
    </section>
    {{!-- END BLOG SECTION --}}

    {{!-- SUBSCRIPTION SECTION --}}
    <section>
        <div id="subscribe" class="text-center d-flex flex-column justify-content-center align-items-center py-4"
            style="height: min-content; background-color: rgb(196, 219, 212);">
            <h1>Subscribe</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="name" class="form-control" id="nameElement" aria-describedby="nameHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
                </div>
                <button type="submit" "width: max-content; height: max-content; padding: 10px">Subscribe here!</button>
            </form>
        </div>
    </section>
</section>
<footer style="height: 30vh; display: flex">
    <section style="margin-left: 2vw; width: 60%">
        {{#if loggedIn}}
        <div style="display:flex; flex-direction:column">
            <a href="/">Home</a>
            <a href="/profile">Dashboard</a>
            <a href="/api/users/logout">Logout</a>
            <a href="/add-post"><button>Add a Post</button></a>
        </div>
        {{else}}
        <div style="display:flex; flex-direction:column">
            <a href="/login">Login</a>
            <a href="/add-post">Add a Post</a>
        </div>
        {{/if}}
    </section>
    <section>
        <p>Second section</p>
    </section>
</footer>