<h1>Wine Pairings</h1>
{{#each blogs}}
    <h3>{{title}}</h3>
    <p>{{blog_type}}</p>
    <hr>
    <h2>{{blog_content}}</h2>
    <h2>{{blog_content_2}}</h2>
    <h2>{{blog_content_3}}</h2>
    <h2>{{blog_content_4}}</h2>
{{/each}}